<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APP_STORE_OR_AD_HOC_BUILD</key>
	<true/>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>pldNksvtRJqBTf3vpn7bVQ</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>7Iz4ODpgQgmecxYE83s0Dg</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>EsVxGVlhRZ2p_jwoGJwRgQ</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>Ji94xX3QTEu76rmwDNr61g</string>
</dict>
</plist>
